appointments/_appointments_create.json
{
  "name": "/appointments/create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b00001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 240],
      "webhookId": "appointments-create-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}",
              "type": "string"
            },
            {
              "id": "field-customer-id",
              "name": "customer_id",
              "value": "={{ $json.body.customer_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-scheduled-at",
              "name": "scheduled_at",
              "value": "={{ $json.body.scheduled_at ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-duration-minutes",
              "name": "duration_minutes",
              "value": "={{ $json.body.duration_minutes ?? 60 }}",
              "type": "number"
            },
            {
              "id": "field-status",
              "name": "status",
              "value": "={{ $json.body.status ?? 'scheduled' }}",
              "type": "string"
            },
            {
              "id": "field-notes",
              "name": "notes",
              "value": "={{ $json.body.notes ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b00002-0001-0001-0001-000000000002",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1424, 240]
    },
    {
      "parameters": {
        "jsCode": "const tenant_id = ($json.tenant_id || '').trim();\nconst customer_id = ($json.customer_id || '').trim();\nconst scheduled_at = ($json.scheduled_at || '').trim();\nconst duration_minutes = parseInt($json.duration_minutes, 10) || 60;\nconst status = ($json.status || 'scheduled').trim().toLowerCase();\nconst notes = $json.notes ? ($json.notes + '').trim() : null;\n\nconst errors = [];\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst VALID_STATUSES = ['scheduled','confirmed','cancelled','completed'];\n\nif (!tenant_id) errors.push('tenant_id is required');\nelse if (!UUID_RE.test(tenant_id)) errors.push('tenant_id must be a valid UUID');\n\nif (!customer_id) errors.push('customer_id is required');\nelse if (!UUID_RE.test(customer_id)) errors.push('customer_id must be a valid UUID');\n\nif (!scheduled_at) {\n  errors.push('scheduled_at is required');\n} else {\n  const d = new Date(scheduled_at);\n  if (isNaN(d.getTime())) errors.push('scheduled_at must be a valid ISO 8601 timestamp');\n}\n\nif (!Number.isInteger(duration_minutes) || duration_minutes < 1 || duration_minutes > 1440) {\n  errors.push('duration_minutes must be an integer between 1 and 1440');\n}\n\nif (!VALID_STATUSES.includes(status)) {\n  errors.push('status must be one of: scheduled, confirmed, cancelled, completed');\n}\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    tenant_id,\n    customer_id,\n    scheduled_at,\n    duration_minutes,\n    status,\n    notes\n  }\n}];"
      },
      "id": "a1b00003-0001-0001-0001-000000000003",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b00004-0001-0001-0001-000000000004",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1040, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from public.appointment_create($1, $2, $3, $4, $5, $6);",
        "options": {
          "queryReplacement": "={{ [$json.tenant_id, $json.customer_id, $json.scheduled_at, $json.duration_minutes, $json.status, $json.notes] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-720, 160],
      "id": "a1b00005-0001-0001-0001-000000000005",
      "name": "DB Insert",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "resp-id",
              "name": "id",
              "value": "={{ $json.id ?? null }}",
              "type": "string"
            },
            {
              "id": "resp-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.tenant_id ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b00006-0001-0001-0001-000000000006",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"id\": \"{{$json.id}}\",\n    \"tenant_id\": \"{{$json.tenant_id}}\"\n  }\n}",
        "options": {}
      },
      "id": "a1b00007-0001-0001-0001-000000000007",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-288, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'VALIDATION_ERROR', message: $json.errors && $json.errors.length ? $json.errors.join(', ') : 'Validation failed' } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b00008-0001-0001-0001-000000000008",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-720, 352]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Fields", "type": "main", "index": 0 }]]
    },
    "Set Fields": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "DB Insert", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "DB Insert": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1000001-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db1ba70da077bf2f51c02e462bdc48ed00c6c6a054efdcca5792cc2a2fbe8c64"
  },
  "id": "AppointmentsCreateWorkflow01",
  "tags": [
    {
      "updatedAt": "2026-03-26T00:00:00.000Z",
      "createdAt": "2026-03-26T00:00:00.000Z",
      "id": "appointments-service-tag",
      "name": "appointments-service"
    }
  ]
}
