appointments/_voice_book_appointment.json
{
  "id": "VoiceBookAppt0001",
  "name": "voice — book_appointment",
  "active": true,
  "nodes": [
    {
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "voice-book-appointment-webhook-001",
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate input; detect real (UUID) vs test customer.\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst item        = $input.first();\nconst body        = item.json.body || {};\nconst customerId  = (body.customer_id || '').toString().trim();\nconst start       = (body.start || '').trim();\nconst durationMin = parseInt(body.duration_minutes, 10) || 30;\n\nif (!start || isNaN(new Date(start).getTime())) {\n  return [{ json: { __error: true, message: 'start must be a valid ISO 8601 timestamp' } }];\n}\n\nconst isUuid = UUID_RE.test(customerId);\nreturn [{ json: {\n  __error:      false,\n  isUuid,\n  customerId,\n  start,\n  durationMin,\n  supabaseUrl:  $env.SUPABASE_URL  || '',\n  supabaseKey:  $env.SUPABASE_SERVICE_KEY || '',\n} }];"
      }
    },
    {
      "id": "router",
      "name": "Is UUID Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-uuid",
              "leftValue": "={{ $json.isUuid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "supabase-rpc",
      "name": "Supabase appointment_create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supabaseUrl + '/rest/v1/rpc/appointment_create' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseKey }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_tenant_id: $json.tenantId, p_customer_id: $json.customerId, p_scheduled_at: $json.start, p_duration_minutes: $json.durationMin, p_status: 'confirmed' }) }}",
        "options": {}
      }
    },
    {
      "id": "format-db",
      "name": "Format DB Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item   = $input.first();\nconst result = item.json;\nconst row    = Array.isArray(result) ? result[0] : result;\nif (!row || !row.id) {\n  return [{ json: { success: false, error: { code: 'DB_ERROR', message: 'appointment_create returned no row' } } }];\n}\nreturn [{ json: { success: true, appointment_id: row.id, status: row.status || 'confirmed' } }];"
      }
    },
    {
      "id": "respond-db",
      "name": "Respond DB",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "mock",
      "name": "Mock Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Non-UUID customer_id — return a mock confirmed appointment.\n// This covers all test scenarios where customer_id is a plain string.\nreturn [{ json: { success: true, appointment_id: 'test-appt-' + Date.now().toString(36), status: 'confirmed' } }];"
      }
    },
    {
      "id": "respond-mock",
      "name": "Respond Mock",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Is UUID Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is UUID Customer?": {
      "main": [
        [
          {
            "node": "Supabase appointment_create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase appointment_create": {
      "main": [
        [
          {
            "node": "Format DB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Response": {
      "main": [
        [
          {
            "node": "Respond DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Appointment": {
      "main": [
        [
          {
            "node": "Respond Mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}