knowledge/_knowledge_create.json
{
  "name": "/knowledge/create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knowledge/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c0150001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 240],
      "webhookId": "knowledge-create-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.headers['x-tenant-id'] || $json.headers['X-Tenant-Id'] || $json.headers['x-organization-id'] || $json.headers['X-Organization-Id'] || '' }}",
              "type": "string"
            },
            {
              "id": "field-title",
              "name": "title",
              "value": "={{ $json.body.title ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-content",
              "name": "content",
              "value": "={{ $json.body.content ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-category",
              "name": "category",
              "value": "={{ $json.body.category ?? null }}",
              "type": "string"
            },
            {
              "id": "field-status",
              "name": "status",
              "value": "={{ $json.body.status ?? 'draft' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c0150002-0000-0000-0000-000000000002",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1424, 240]
    },
    {
      "parameters": {
        "jsCode": "const tenant_id = ($json.tenant_id || '').trim();\nconst title     = ($json.title     || '').trim();\nconst content   = ($json.content   || '').trim();\nconst category  = $json.category ? ($json.category + '').trim() : null;\nconst status    = ($json.status    || 'draft').trim().toLowerCase();\n\nconst errors = [];\nconst UUID_RE        = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst VALID_STATUSES = ['draft','published','archived'];\n\nif (!tenant_id)\n  errors.push('tenant_id is required');\nelse if (!UUID_RE.test(tenant_id))\n  errors.push('tenant_id must be a valid UUID');\n\nif (!title)\n  errors.push('title is required');\n\nif (!content)\n  errors.push('content is required');\n\nif (!VALID_STATUSES.includes(status))\n  errors.push('status must be one of: draft, published, archived');\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    tenant_id,\n    title,\n    content,\n    category,\n    status\n  }\n}];"
      },
      "id": "c0150003-0000-0000-0000-000000000003",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0150004-0000-0000-0000-000000000004",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1040, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from public.knowledge_create($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ [$('Validate').item.json.tenant_id, $('Validate').item.json.title, $('Validate').item.json.content, $('Validate').item.json.category, $('Validate').item.json.status] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-720, 160],
      "id": "c0150005-0000-0000-0000-000000000005",
      "name": "DB Insert",
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.error && ($json.error.message || String($json.error))) || 'Database error';\nconst lower = raw.toLowerCase();\n\nlet code    = 'DB_ERROR';\nlet message = raw;\n\nif (lower.includes('invalid_status') || lower.includes('invalid status')) {\n  code    = 'VALIDATION_ERROR';\n  message = 'status must be one of: draft, published, archived';\n}\n\nreturn [{ json: { code, message } }];"
      },
      "id": "c0150009-0000-0000-0000-000000000009",
      "name": "Parse DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 352]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: $json.code, message: $json.message } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c0150010-0000-0000-0000-000000000010",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-240, 352]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json } }}",
        "options": {}
      },
      "id": "c0150007-0000-0000-0000-000000000007",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-480, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'VALIDATION_ERROR', message: $json.errors && $json.errors.length ? $json.errors.join(', ') : 'Validation failed' } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c0150008-0000-0000-0000-000000000008",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-720, 352]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Fields", "type": "main", "index": 0 }]]
    },
    "Set Fields": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "DB Insert", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "DB Insert": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }],
        [{ "node": "Parse DB Error", "type": "main", "index": 0 }]
      ]
    },
    "Parse DB Error": {
      "main": [[{ "node": "Respond DB Error", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c0150000-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db1ba70da077bf2f51c02e462bdc48ed00c6c6a054efdcca5792cc2a2fbe8c64"
  },
  "id": "KnowledgeCreateWorkflow01",
  "tags": [
    {
      "updatedAt": "2026-03-27T00:00:00.000Z",
      "createdAt": "2026-03-27T00:00:00.000Z",
      "id": "knowledge-service-tag",
      "name": "knowledge-service"
    }
  ]
}
