customer_get/_customer_get.json
{
  "name": "/customer/get",
  "nodes": [
    {
      "parameters": {
        "path": "customer/get",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6e9e321-53df-49fb-8fc2-8810679a36e7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        368
      ],
      "webhookId": "2782bbef-520e-42ff-9a5f-42d491637ce4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}",
              "type": "string"
            },
            {
              "id": "719a89ea-37b3-4a62-a772-862d51699d0e",
              "name": "id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e4e44041-fe12-41de-a4f3-c774341bdb6f",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const tenant_id = ($json.tenant_id || '').trim();\nconst id = ($json.id || '').trim();\n\nconst errors = [];\n\nif (!tenant_id) {\n  errors.push('tenant_id is required');\n}\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    tenant_id,\n    id\n  }\n}];"
      },
      "id": "257290da-1df7-4d7c-b621-4c200606ac4c",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cabfdff0-a11c-4a6b-9fa7-3bea479fcac8",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.tenant_id = '{{ $json.tenant_id }}';\n\nSELECT id as tenant_id\nFROM tenants\nWHERE id = '{{ $json.tenant_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        368
      ],
      "id": "a7ad515c-efae-4f9f-89ee-b2fecefa21cc",
      "name": "Validate Tenant",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "058660b9-2ee7-4524-baf7-db5fce202546",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        240
      ],
      "id": "984f5ca0-a1fb-4454-ac13-dd1e412d20d8",
      "name": "Has ID?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, phone, email, created_at\nFROM customers\nWHERE tenant_id = '{{ $json.tenant_id }}'\nAND id = '{{ $json.id }}'\nLIMIT 1",
        "options": {
          "queryReplacement": "=={{ [$('Validate').item.json.tenant_id, $('Validate').item.json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        176
      ],
      "id": "a55147a9-7302-4bd8-ab02-f555456704a2",
      "name": "GET customer by ID",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, phone, email, created_at\nFROM customers\nWHERE tenant_id = '{{ $json.tenant_id }}'\nORDER BY created_at DESC\nLIMIT 50",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        336
      ],
      "id": "7d3320ca-0691-4f51-b054-d27661ef04ae",
      "name": "Get All Customers",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebc5aaf9-8f47-40c1-8fe9-9ec82330e513",
              "leftValue": "={{$json.length}}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        48
      ],
      "id": "dbe79ff6-1251-49e2-948c-498bbb3839d0",
      "name": "Customer found?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        176
      ],
      "id": "a440cd57-32d4-42a8-97a2-364b68a43225",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "resp-data",
              "name": "data",
              "value": "={{ $input.all().map(item => item.json) }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "3d134a6e-6b72-4db4-a892-9dcb27c072ff",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79d919d0-7abe-47ed-ba06-5dc217219609",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'VALIDATION_ERROR', message: $json.errors && $json.errors.length ? $json.errors.join(', ') : 'Validation failed' } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "08ff3fd0-913e-4bd2-9cc2-e01d48648092",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -896,
        624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'NOT_FOUND', message: 'Customer not found' } } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "f3f5091d-9080-4aae-b638-ccba6f66ca39",
      "name": "Respond Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -800,
        240
      ],
      "id": "b2f03918-4c73-43f8-83bb-3ae675c0d903",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Validate Tenant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tenant": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Has ID?": {
      "main": [
        [
          {
            "node": "GET customer by ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET customer by ID": {
      "main": [
        [
          {
            "node": "Customer found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer found?": {
      "main": [
        [
          {
            "node": "Respond Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Customers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Has ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "515c411d-b4f4-4aed-8111-f8510485aee9",
  "meta": {
    "instanceId": "db1ba70da077bf2f51c02e462bdc48ed00c6c6a054efdcca5792cc2a2fbe8c64"
  },
  "id": "Chzs520DacuLr1v8",
  "tags": [
    {
      "updatedAt": "2026-03-18T21:55:16.631Z",
      "createdAt": "2026-03-18T21:55:16.631Z",
      "id": "yiaa53DCWGVZFo8L",
      "name": "customer-service"
    }
  ]
}