requests_backup_before_regen/_requests_create.json
{
  "name": "/requests/create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "requests/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r1a00001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 240],
      "webhookId": "requests-create-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}",
              "type": "string"
            },
            {
              "id": "field-customer-id",
              "name": "customer_id",
              "value": "={{ $json.body.customer_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-type",
              "name": "type",
              "value": "={{ $json.body.type ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-status",
              "name": "status",
              "value": "={{ $json.body.status ?? 'pending' }}",
              "type": "string"
            },
            {
              "id": "field-notes",
              "name": "notes",
              "value": "={{ $json.body.notes ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "r1a00002-0001-0001-0001-000000000002",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1424, 240]
    },
    {
      "parameters": {
        "jsCode": "const tenant_id = ($json.tenant_id || '').trim();\nconst customer_id = ($json.customer_id || '').trim();\nconst type = ($json.type || '').trim().toLowerCase();\nconst status = ($json.status || 'pending').trim().toLowerCase();\nconst notes = $json.notes ? ($json.notes + '').trim() : null;\n\nconst errors = [];\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst VALID_TYPES = ['callback','support','quote','info'];\nconst VALID_STATUSES = ['pending','in_progress','resolved','closed'];\n\nif (!tenant_id) errors.push('tenant_id is required');\nelse if (!UUID_RE.test(tenant_id)) errors.push('tenant_id must be a valid UUID');\n\nif (!customer_id) errors.push('customer_id is required');\nelse if (!UUID_RE.test(customer_id)) errors.push('customer_id must be a valid UUID');\n\nif (!type) errors.push('type is required');\nelse if (!VALID_TYPES.includes(type)) errors.push('type must be one of: callback, support, quote, info');\n\nif (!VALID_STATUSES.includes(status)) errors.push('status must be one of: pending, in_progress, resolved, closed');\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    tenant_id,\n    customer_id,\n    type,\n    status,\n    notes\n  }\n}];"
      },
      "id": "r1a00003-0001-0001-0001-000000000003",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "r1a00004-0001-0001-0001-000000000004",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1040, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from public.request_create($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ [$json.tenant_id, $json.customer_id, $json.type, $json.status, $json.notes] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-720, 160],
      "id": "r1a00005-0001-0001-0001-000000000005",
      "name": "DB Insert",
      "credentials": {
        "postgres": {
          "id": "Enm2PEWvhVMtE5CI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "resp-id",
              "name": "id",
              "value": "={{ $json.id ?? null }}",
              "type": "string"
            },
            {
              "id": "resp-tenant-id",
              "name": "tenant_id",
              "value": "={{ $json.tenant_id ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "r1a00006-0001-0001-0001-000000000006",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"id\": \"{{$json.id}}\",\n    \"tenant_id\": \"{{$json.tenant_id}}\"\n  }\n}",
        "options": {}
      },
      "id": "r1a00007-0001-0001-0001-000000000007",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-288, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: { code: 'VALIDATION_ERROR', message: $json.errors && $json.errors.length ? $json.errors.join(', ') : 'Validation failed' } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "r1a00008-0001-0001-0001-000000000008",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-720, 352]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Fields", "type": "main", "index": 0 }]]
    },
    "Set Fields": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "DB Insert", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "DB Insert": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "r1000001-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db1ba70da077bf2f51c02e462bdc48ed00c6c6a054efdcca5792cc2a2fbe8c64"
  },
  "id": "RequestsCreateWorkflow01",
  "tags": [
    {
      "updatedAt": "2026-03-26T00:00:00.000Z",
      "createdAt": "2026-03-26T00:00:00.000Z",
      "id": "requests-service-tag",
      "name": "requests-service"
    }
  ]
}
