availability-engine/_ae_next-free.json
{
  "name": "availability-engine — next-free",
  "active": false,
  "nodes": [
    {
      "id": "ae-next-free-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ae-next-free-webhook-id",
      "parameters": {
        "httpMethod": "POST",
        "path": "availability-engine/next-free",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ae-next-free-code",
      "name": "Find Next Free Slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── availability-engine / next-free ──────────────────────────────────────────\n// Input: POST body with customer_id, after, duration_minutes, timezone\n// tenant_id comes from x-tenant-id header (injected by the API Gateway from JWT).\n// Algorithm:\n//   1. Load working hours (ae_get_working_hours)\n//   2. Search forward day by day (max horizon: 60 days)\n//   3. For each day: load busy periods + exceptions, scan working windows for the\n//      first gap that fits duration_minutes\n//   4. Return { success: true, data: { start, end } } or data: null when none found\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\n\nfunction supabaseRpc(fnName, params) {\n  return $helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/${fnName}`,\n    headers: {\n      'apikey': SUPABASE_KEY,\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation',\n    },\n    body: JSON.stringify(params),\n  });\n}\n\n// ── Helpers ───────────────────────────────────────────────────────────────────\n\nfunction localTimeToMs(dateStr, timeStr, tz) {\n  const isoLike = `${dateStr}T${timeStr}:00`;\n  const naiveMs = new Date(isoLike + 'Z').getTime();\n  const fmt = new Intl.DateTimeFormat('en-US', {\n    timeZone: tz,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hour12: false,\n  });\n  const parts = fmt.formatToParts(new Date(naiveMs));\n  const p = {};\n  for (const { type, value } of parts) p[type] = value;\n  const localMs = Date.UTC(\n    parseInt(p.year), parseInt(p.month) - 1, parseInt(p.day),\n    parseInt(p.hour === '24' ? '0' : p.hour), parseInt(p.minute), parseInt(p.second)\n  );\n  return naiveMs - (localMs - naiveMs);\n}\n\nfunction getDow(tsMs, tz) {\n  const parts = new Intl.DateTimeFormat('en-US', {\n    timeZone: tz, weekday: 'short',\n  }).formatToParts(new Date(tsMs));\n  const day = parts.find(p => p.type === 'weekday').value;\n  return ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'].indexOf(day);\n}\n\nfunction toDateStr(tsMs, tz) {\n  return new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz, year: 'numeric', month: '2-digit', day: '2-digit',\n  }).format(new Date(tsMs));\n}\n\nfunction overlapsAny(slotStartMs, slotEndMs, busyWindows) {\n  for (const b of busyWindows) {\n    if (slotStartMs < b.endMs && slotEndMs > b.startMs) return true;\n  }\n  return false;\n}\n\n// ── Main ──────────────────────────────────────────────────────────────────────\n\nconst item       = $input.first();\nconst headers    = item.json.headers || {};\nconst body       = item.json.body   || {};\nconst tenantId   = headers['x-tenant-id'];\n\nconst { customer_id, after, timezone = 'Europe/Berlin' } = body;\nconst durationMin  = Number(body.duration_minutes) || 30;\nconst durationMs   = durationMin * 60 * 1000;\nconst afterMs      = new Date(after).getTime();\nconst MAX_DAYS     = 60;\nconst horizonMs    = afterMs + MAX_DAYS * 86400000;\n\n// Load working hours once (they don't change per day)\nlet workingHours;\ntry {\n  workingHours = await supabaseRpc('ae_get_working_hours', {\n    p_tenant_id: tenantId, p_customer_id: customer_id,\n  });\n} catch (err) {\n  return [{ json: { success: false, error: { code: 'DB_ERROR', message: err.message } } }];\n}\n\nconst whByDow = {};\nfor (const wh of (workingHours || [])) {\n  const d = wh.day_of_week;\n  if (!whByDow[d]) whByDow[d] = [];\n  whByDow[d].push(wh);\n}\n\nconst DAY_MS = 86400000;\nlet cursor = afterMs;\n\nwhile (cursor < horizonMs) {\n  const dateStr = toDateStr(cursor, timezone);\n  const dow     = getDow(cursor, timezone);\n\n  if (whByDow[dow]) {\n    // Load busy + exceptions for this specific day\n    const dayStartMs = localTimeToMs(dateStr, '00:00', timezone);\n    const dayEndMs   = dayStartMs + DAY_MS;\n\n    let busyPeriods, exceptions;\n    try {\n      [busyPeriods, exceptions] = await Promise.all([\n        supabaseRpc('ae_get_busy_periods', {\n          p_tenant_id: tenantId, p_customer_id: customer_id,\n          p_from: new Date(dayStartMs).toISOString(),\n          p_to:   new Date(dayEndMs).toISOString(),\n        }),\n        supabaseRpc('ae_get_day_exceptions', {\n          p_tenant_id:   tenantId, p_customer_id: customer_id,\n          p_from_date:   dateStr,\n          p_to_date:     dateStr,\n        }),\n      ]);\n    } catch (err) {\n      return [{ json: { success: false, error: { code: 'DB_ERROR', message: err.message } } }];\n    }\n\n    const dayExceptions = exceptions || [];\n    const isClosed = dayExceptions.some(ex => ex.is_closed);\n\n    if (!isClosed) {\n      const partialExceptions = dayExceptions\n        .filter(ex => !ex.is_closed && ex.start_time_txt && ex.end_time_txt)\n        .map(ex => ({\n          startMs: localTimeToMs(dateStr, ex.start_time_txt, timezone),\n          endMs:   localTimeToMs(dateStr, ex.end_time_txt,   timezone),\n        }));\n\n      for (const wh of whByDow[dow]) {\n        const bufBefore = (wh.buffer_before_min || 0) * 60000;\n        const bufAfter  = (wh.buffer_after_min  || 0) * 60000;\n\n        const winStart = Math.max(localTimeToMs(dateStr, wh.start_time_text, timezone), afterMs);\n        const winEnd   = localTimeToMs(dateStr, wh.end_time_text, timezone);\n\n        if (winStart >= winEnd) continue;\n\n        const busyWindows = (busyPeriods || []).map(b => ({\n          startMs: new Date(b.start_at).getTime() - bufBefore,\n          endMs:   new Date(b.end_at).getTime()   + bufAfter,\n        })).concat(partialExceptions);\n\n        let t = winStart;\n        while (t + durationMs <= winEnd) {\n          if (!overlapsAny(t, t + durationMs, busyWindows)) {\n            return [{ json: {\n              success: true,\n              data: {\n                start: new Date(t).toISOString(),\n                end:   new Date(t + durationMs).toISOString(),\n              },\n            } }];\n          }\n          t += durationMs;\n        }\n      }\n    }\n  }\n\n  cursor += DAY_MS;\n  // Guard against DST making cursor stall on same date\n  const nextDateStr = toDateStr(cursor, timezone);\n  if (nextDateStr === toDateStr(cursor - DAY_MS, timezone)) cursor += DAY_MS;\n}\n\n// No free slot found within horizon\nreturn [{ json: { success: true, data: null } }];\n"
      }
    },
    {
      "id": "ae-next-free-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Find Next Free Slot", "type": "main", "index": 0 }]
      ]
    },
    "Find Next Free Slot": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
